@{
    ViewData["Title"] = "Welcome to LGU.NET";
}

<div class="row">
    <div class="col l4 m6 s12 offset-l4 offset-m3">
        <div class="card z-depth-3" style="height:500px;margin-top:100px;">
            <div class="card-content">
                <div class="card-title">
                    <h3>Login</h3>
                </div>
            </div>
            <div class="row center">
                <i class="material-icons red-text" style="font-size:250px;">account_circle</i>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col">
                            <input id="_username" type="text" />
                            <label for="_username">Username</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>