<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <!-- GENERIC CONFIGURATIONS -->
    <add key="ConnectionStringSource" value="~\connection_strings.json"/>
    <add key="SystemDirectory" value="C:\LGU.NET"/>
    <add key="ReportDirectory" value="C:\LGU.NET\Reports"/>
    <add key="ReportTemplateDirectory" value="C:\LGU.NET\Reports\Templates"/>
    <add key="DebugMode" value="true"/>
  </appSettings>
</configuration>