<?xml version="1.0" encoding="utf-8"?>
<!-- LGU.HumanResource.Kiosk -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
     <!-- GENERIC CONFIGURATIONS -->
    <add key="ConnectionStringSource" value="~\connection_strings.json"/>
    <add key="SystemDirectory" value="C:\LGU.NET"/>
    <add key="ReportDirectory" value="C:\LGU.NET\Reports"/>
    <add key="ReportTemplateDirectory" value="C:\LGU.NET\Reports\Templates"/>
    <add key="DebugMode" value="true"/>
    
    <!-- HUMAN RESOURCE CONFIGURATIONS -->
   
    <!-- ACTUAL TIME-LOG -->
    <add key="HumanResource.ActualTimeLog.Template" value="~\hr_actualtimelog.xlsx"/>
    <add key="HumanResource.ActualTimeLog.SaveDirectory" value="~\Actual Time-Logs"/>
    <add key="HumanResource.ActualTimeLog.PrintAfterSave" value="true"/>
    <add key="HumanResource.ActualTimeLog.LogRowStart" value="5"/>
    <add key="HumanResource.ActualTimeLog.EmployeeCell" value="1,1"/>
    <add key="HumanResource.ActualTimeLog.DepartmentCell" value="2,1"/>
    <add key="HumanResource.ActualTimeLog.CutOffCell" value="3,1"/>
    <add key="HumanResource.ActualTimeLog.LoginColumn" value="1"/>
    <add key="HumanResource.ActualTimeLog.LogoutColumn" value="2"/>
    
    <!-- TIME-LOG -->
    <add key="HumanResource.TimeLog.SaveDirectory" value="~\Time-Logs"/>
    <add key="HumanResource.TimeLog.Template" value="~\hr_timelog.xlsx"/>
    <add key="HumanResource.TimeLog.PrintAfterSave" value="true"/>
    
    <!-- LOCATOR -->
    <add key="HumanResource.Locator.SaveDirectory" value="~\Locators"/>
    <add key="HumanResource.Locator.Template" value="~\hr_locator.dotx"/>
    <add key="HumanResource.Locator.PrintAfterSave" value="true"/>
  </appSettings>
</configuration>
