<?xml version="1.0" encoding="utf-8"?>
<!-- LGU.HumanResource -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <probing privatePath="Assemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- GENERIC CONFIGURATIONS -->
    <add key="ConnectionStringSource" value="~\connection_strings.json"/>
    <add key="SystemDirectory" value="C:\LGU.NET"/>
    <add key="ReportDirectory" value="C:\LGU.NET\Reports"/>
    <add key="ReportTemplateDirectory" value="C:\LGU.NET\Reports\Templates"/>
    <add key="DebugMode" value="true"/>

    <!-- HUMAN RESOURCE CONFIGURATIONS -->

    <!-- TIME-LOG -->
    <add key="HumanResource.TimeLog.SaveDirectory" value="~\Time-Logs"/>
    <add key="HumanResource.TimeLog.Template" value="~\hr_timelog.xlsx"/>
    <add key="HumanResource.TimeLog.PrintAfterSave" value="false"/>
    <add key="HumanResource.TimeLog.LogRowStart" value="12"/>
    <add key="HumanResource.TimeLog.AmLoginColumn" value="3"/>
    <add key="HumanResource.TimeLog.AmLogoutColumn" value="4"/>
    <add key="HumanResource.TimeLog.PmLoginColumn" value="6"/>
    <add key="HumanResource.TimeLog.PmLogoutColumn" value="7"/>
    <add key="HumanResource.TimeLog.OtLoginColumn" value="9"/>
    <add key="HumanResource.TimeLog.OtLogoutColumn" value="10"/>
    <add key="HumanResource.TimeLog.CutOffCell" value="7,6"/>
    <add key="HumanResource.TimeLog.EmployeeCell" value="6,2"/>
    <add key="HumanResource.TimeLog.TimeLogFormat" value="hh:mm"/>
    <add key="HumanResource.TimeLog.PathFormat" value="yyyyMMdd_hhmmss"/>
    <add key="HumanResource.TimeLog.IncludeFileMap" value="true"/>
    <add key="HumanResource.TimeLog.MinYearCoverage" value="2017"/>

    <!-- LOCATOR -->
    <add key="HumanResource.Locator.SaveDirectory" value="~\Locators"/>
    <add key="HumanResource.Locator.Template" value="~\hr_locator.dotx"/>
    <add key="HumanResource.Locator.PrintAfterSave" value="true"/>
    
    <!-- PAYROLL -->
    <add key="HumanResource.Payroll.Default.FilePath" value="~\Defaults\payroll.json"/>
    
    <!-- PAYROLL (CONTRACTUAL) -->
    <add key="HumanResource.PayrollContractual.Template" value="~\hr_payroll_contractual.xlsx"/>
    <add key="HumanResource.PayrollContractual.SaveDirectory" value="~\Payroll\Contractual"/>
    <add key="HumanResource.PayrollContractual.PrintAfterSave" value="false"/>
    <add key="HumanResource.PayrollContractual.MaxItemPerSheet" value="10"/>
    <add key="HumanResource.PayrollContractual.HeadingMessageCell" value="5,1"/>
    <add key="HumanResource.PayrollContractual.DepartmentCell" value="8,1"/>
    <add key="HumanResource.PayrollContractual.MayorCell" value="23,4"/>
    <add key="HumanResource.PayrollContractual.MayorTitleCell" value="24,4"/>
    <add key="HumanResource.PayrollContractual.HumanResourceHeadCell" value="29,2"/>
    <add key="HumanResource.PayrollContractual.HumanResourceHeadTitleCell" value="30,2"/>
    <add key="HumanResource.PayrollContractual.TreasurerCell" value="29,4"/>
    <add key="HumanResource.PayrollContractual.TreasurerTitleCell" value="30,4"/>
    <add key="HumanResource.PayrollContractual.AccountantCell" value="36,4"/>
    <add key="HumanResource.PayrollContractual.AccountantTitleCell" value="37,4"/>
    <add key="HumanResource.PayrollContractual.BudgetOfficerCell" value="36,9"/>
    <add key="HumanResource.PayrollContractual.BudgetOfficerTitleCell" value="37,9"/>
    <add key="HumanResource.PayrollContractual.HeadCell" value="36,2"/>
    <add key="HumanResource.PayrollContractual.HeadTitleCell" value="37,2"/>
    <add key="HumanResource.PayrollContractual.LeftCounterColumn" value="1"/>
    <add key="HumanResource.PayrollContractual.RightCounterColumn" value="11"/>
    <add key="HumanResource.PayrollContractual.EmployeeColumn" value="2"/>
    <add key="HumanResource.PayrollContractual.DesignationColumn" value="3"/>
    <add key="HumanResource.PayrollContractual.MonthlyRateColumn" value="4"/>
    <add key="HumanResource.PayrollContractual.AmountAccruedColumn" value="5"/>
    <add key="HumanResource.PayrollContractual.AmountPaidColumn" value="10"/>
    <add key="HumanResource.PayrollContractual.HdmfPremiumPsColumn" value="6"/>
    <add key="HumanResource.PayrollContractual.WithholdingTaxColumn" value="9"/>
    <add key="HumanResource.PayrollContractual.ItemRowStart" value="9"/>
    <add key="HumanResource.PayrollContractual.HdmfPremiumPsHeaderCell" value="7,6"/>

    <!-- END : HUMAN RESOURCE CONFIGURATIONS -->
  </appSettings>
</configuration>
