<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <probing privatePath="Assemblies"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- GENERIC CONFIGURATIONS -->
    <add key="ConnectionStringSource" value="~\connection_strings.json"/>
    <add key="SystemDirectory" value="C:\LGU.NET"/>
    <add key="ReportDirectory" value="C:\LGU.NET\Reports"/>
    <add key="ReportTemplateDirectory" value="C:\LGU.NET\Reports\Templates"/>
    <add key="DebugMode" value="true"/>

    <!-- HUMAN RESOURCE CONFIGURATIONS -->

    <!-- TIME-LOG -->
    <add key="HumanResource.TimeLog.SaveDirectory" value="~\Time-Logs"/>
    <add key="HumanResource.TimeLog.Template" value="~\hr_timelog.xls"/>
    <add key="HumanResource.TimeLog.PrintAfterSave" value="false"/>
    <add key="HumanResource.TimeLog.LogRowStart" value="12"/>
    <add key="HumanResource.TimeLog.AmLoginColumn" value="3"/>
    <add key="HumanResource.TimeLog.AmLogoutColumn" value="4"/>
    <add key="HumanResource.TimeLog.PmLoginColumn" value="6"/>
    <add key="HumanResource.TimeLog.PmLogoutColumn" value="7"/>
    <add key="HumanResource.TimeLog.OtLoginColumn" value="9"/>
    <add key="HumanResource.TimeLog.OtLogoutColumn" value="10"/>
    <add key="HumanResource.TimeLog.CutOffCell" value="7,6"/>
    <add key="HumanResource.TimeLog.EmployeeCell" value="6,2"/>
    <add key="HumanResource.TimeLog.TimeLogFormat" value="hh:mm"/>
    <add key="HumanResource.TimeLog.PathFormat" value="yyyyMMdd_hhmmss"/>
    <add key="HumanResource.TimeLog.IncludeFileMap" value="true"/>

    <!-- LOCATOR -->
    <add key="HumanResource.Locator.SaveDirectory" value="~\Locators"/>
    <add key="HumanResource.Locator.Template" value="~\hr_locator.dotx"/>
    <add key="HumanResource.Locator.PrintAfterSave" value="true"/>
  </appSettings>
</configuration>
